
.pane {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button {
    width: 20%;
    height: 20%;
}

input {
    margin-bottom: 25px;
}

#time {
    background-color: white;
    text-align: center;
    font-size: 12pt;
}